<app-home></app-home>

<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="checkInDate">Check-In Date:</label>
    <input type="date" id="checkInDate" formControlName="checkInDate" />
    <div
      *ngIf="
        reservationForm.get('checkInDate')?.invalid &&
        reservationForm.get('checkInDate')?.touched
      "
    >
      Check-In Date is required
    </div>
  </div>

  <div>
    <label for="checkOutDate">Check-Out Date:</label>
    <input type="date" id="checkOutDate" formControlName="checkOutDate" />
    <div
      *ngIf="
        reservationForm.get('checkOutDate')?.invalid &&
        reservationForm.get('checkOutDate')?.touched
      "
    >
      Check-Out Date is required
    </div>
  </div>

  <div>
    <label for="guestName">Guest Name:</label>
    <input type="text" id="guestName" formControlName="guestName" />
    <div
      *ngIf="
        reservationForm.get('guestName')?.invalid &&
        reservationForm.get('guestName')?.touched
      "
    >
      Guest Name is required
    </div>
  </div>

  <div>
    <label for="guestEmail">Guest Email:</label>
    <input type="email" id="guestEmail" formControlName="guestEmail" />
    <div
      *ngIf="
        reservationForm.get('guestEmail')?.invalid &&
        reservationForm.get('guestEmail')?.touched
      "
    >
      Guest Email is required and should be a valid email
    </div>
  </div>

  <div>
    <label for="roomNumber">Room Number:</label>
    <input type="number" id="roomNumber" formControlName="roomNumber" />
    <div
      *ngIf="
        reservationForm.get('roomNumber')?.invalid &&
        reservationForm.get('roomNumber')?.touched
      "
    >
      Room Number is required
    </div>
  </div>

  <button type="submit" [disabled]="reservationForm.invalid">Submit</button>
</form>
